.container {
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding: 15px;
}

.story-elements {
    cursor: pointer;

}

.user-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-elements div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(#c82d8e , #f99d4c);
}

.image-user-story {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.user-elements span {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    white-space: pre;
    display: block
}